#content {
	position: relative;
	margin: 0px 0;
	width: 960px;
}
/********************************
 * generic als elements styling
 ********************************/
.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px 0px 0px -15px;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}

/************************
 * specific als element
 * styling for #lista2
 ***********************/

#lista2 {
	margin-bottom: 0px;
}

#lista2 .als-item {
	margin: 0px 0px;
	min-height: 350px;
	min-width: 350px;
}

#lista2 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 0px;
	width: 350px;
}

#lista2 .als-prev, #lista2 .als-next {
	left: 14.5%;
	width: 22px;
	height: 15px;
	z-index: 500;
}

#lista2 .als-prev {
	top: 28%;
}

#lista2 .als-next {
	bottom: 0px;
	top: 70%;
}

#lista2 .als-item {
	vertical-align: middle;
}