body {
	display: table;
	width: 100%;
	overflow: hidden;
}

body>.row{
	display: table-row;
	height: 100%;
	
}

body>.row>[class*="col-"] {
  display: table-cell;
  /* float: none; */
}

.logo{
	margin-top:150px;
	width: 100%;
}

p{
	margin-top: 5px;
}

#suiveznous img{
	width:150%;
}



/*******************************************************/

/**
 * popup
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}on: absolute;
}