body {
	display: table;
	width: 100%;
}

body>.row{
	display: table-row;
	height: 100%;
	
}

body>.row>[class*="col-"] {
  display: table-cell;
  /* float: none; */
}

.logo{
	margin-top:150px;
	width: 100%;
}

p{
	margin-top: 5px;
}

#suiveznous img{
	width:150%;
}

/*******************************************************/
/**
 * list styles
 */
 
ul.description-poste {
	color:white;
}

ul.description-poste li{
	list-style-type: none;
}

.description-poste li h1 {
	font-size: 45px;
	font-weight: bold;
}

.description-poste li .poste {
	font-size: 15px;
	font-weight: 600;
}

/*******************************************************/

/**
 * popup
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}on: absolute;
}